MONGO_URI=
JWT_SECRET=
SESSION_SECRET=
NODE_ENV=
GEMINI_API_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
CLIENT_URL=
BACKEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=

PORT=3000

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=